nav {
  background-color: var(--color-grey-dark);
  color: var(--color-light);
  padding: 1rem;
}

ng-icon, h3 {
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    color: var(--color-primary);
  }
}

.center {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}



.menu-icon {
  margin-right: 1rem;
}